:root {
  --fancyFont: "Baskerville", serif;
  --fontSize: 18px;
  --bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --cursiveFont: "Paris Tonight";
  --greyPurple: #7e7782;
  --darkBlue: #1a324a;
  --midBlue: #4c6f92;
  --skinPink: #F3EDEB;
  --taupe: #E4E0D9;
  --transparentTaupe: rgba(228, 224, 217, 0.25);
}

@font-face {
  font-family: "Baskerville";
  src: url("/fonts/baskerville.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Baskerville";
  src: url("/fonts/baskerville-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Baskerville";
  src: url("/fonts/baskerville-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Paris Tonight";
  src: url("/fonts/paris-tonight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--bodyFont);
  font-size: 16px;
}
body * {
  box-sizing: border-box;
}
a {
  color: var(--midBlue);
  text-decoration: none;
}

a:hover {
  color: var(--greyPurple);
}

a:visited {
  color: var(--midBlue);
}

label {
  display: block;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
pre {
  text-align: left;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: initial;
  align-items: center;
  margin: 0;
  position: relative;
}
.container > * {
  max-width: 1024px;
  width: 100%;
  flex: 1 1 100%;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
  font-family: var(--fancyFont);
  letter-spacing: 2px;
  color: var(--darkBlue);
}
h4,h5 {
  letter-spacing: 1px;
}


@media (max-width:640px) {
  main {
    margin-top: 40px;
  }
}